apiVersion: v1
kind: Secret
metadata:
  name: opensearch-credentials
  namespace: logstream
type: Opaque
stringData:
  OPENSEARCH_URL: "https://admin:CHANGE_ME@opensearch-cluster-master.logstream.svc:9200"
